.ant {
    &-divider-horizontal {
        margin: 10px 0;
    }
    &-icon {
        &--call-active {
            font-size: 26px;
            color: #7822f6;
            -webkit-animation: activeCall 1s infinite;
            animation: activeCall 1s infinite;
            -webkit-animation-direction: alternate;
            animation-direction: alternate;
            animation-timing-function: ease;
        }
        &--call-unactive {
            font-size: 26px;
            color: #7822f6;
        }
    }
}

.ant-table {
    background-color: hsla(0, 0%, 100%, 0.001) !important;
    &-container {
        padding: 20px;
        background-color: #fff !important;
        box-shadow: 0 5px 5px hsla(0, 0%, 40%, 0.1);
    }
    &-title {
        margin-bottom: 14px !important;
        padding: 10px !important;
        background-color: #fafafa !important;
    }
    &-footer {
        margin-top: 14px !important;
        padding: 10px !important;
        background-color: #fafafa !important;
    }
}

.layout {
    position: relative;
    .layout__header {
        background: linear-gradient(302deg, #fefeff 0%, #63cd91 13%, #ffffff 100%) !important;
        min-height: 80px;
        .header {
            font-size: 16px;
        }
    }
    .layout__footer {
        font-family: cursive;
        font-size: 16px;
        min-height: 70px;
        background: linear-gradient(
            302deg,
            rgb(156, 216, 253) 0%,
            rgb(210, 246, 251) 13%,
            rgba(0, 121, 138, 0.88) 100%
        ) !important;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            color: black;
        }
    }
}

.chat-list-modal {
    .ant-list-item-meta {
        align-items: center;
    }
    .ant-list-item:hover {
        background: #f8fcff;
    }
    .ant-avatar-image {
        transition: transform 0.4s ease;
        &:hover {
            transform: scale(1.3);
            transition: transform 0.4s ease;
        }
    }
}

.btn-upload {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    background: #6bff76;
    border: none;
}

.btn-draw {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    background: #f6ff6b;
    border: none;
}
