.history-calls {
    // background: #e3e3e3;
    margin: 5px;
    // overflow-y: scroll;
    max-height: 560px;
    border-radius: 5% 0% 0% 7%;
    .history-list {
        width: 100%;
        .ant-list-empty-text {
            padding: 28px;
            font-size: 16px;
            text-align: center;
            color: black;
            font-weight: 500;
            background: #fcfcfd;
        }
        .ant-list-items {
            .ant-list-item {
                background: #f2f2f2;
                margin: 5px;
                &:hover {
                    background-color: #daf1ff;
                }
                .ant-list-item-meta-avatar {
                    margin-right: 10px;
                    margin-left: 10px;
                    .ant-avatar {
                        width: 45px;
                        height: 45px;
                        transition: transform 0.4s ease;
                        &:hover {
                            transform: scale(1.3);
                            transition: transform 0.4s ease;
                        }
                    }
                }
                .ant-list-item-meta-content {
                    .ant-list-item-meta-title {
                        margin-bottom: 0px;
                        transition: transform 0.4s ease;
                        &:hover {
                            transform: scale(1.02);
                            transition: transform 0.4s ease;
                        }
                        a:hover {
                            color: #4900b4 !important;
                        }
                    }
                    .ant-list-item-meta-description {
                    }
                }
                .ant-btn {
                    padding: 0;
                    color: #00893c;
                    font-weight: 500;
                }
                .ant-list-item-action-split {
                    background-color: #00893c;
                }
                .timestamp {
                    font-size: 12px;
                    font-weight: 700;
                }
                .duration {
                    font-size: 12px;
                    font-weight: 800;
                }
            }
        }
    }
}

.outgoing-call {
    margin: 15px;
    position: relative;
    .ant-card {
        background: #f8f9ff;
        &-head-title {
            text-align: center;
        }
        &-body {
            padding: 10px 16px;
        }
    }
    .outgoing-img {
        width: 100px;
        height: 100px;
        border-radius: 100%;
    }
    .call-description {
        .call-disconnect {
            font-weight: 300;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img {
            width: 24px;
        }
    }

    #outgoing-call-video {
        max-width: 224px;
        max-height: 230px;
        background: #606060;
        border-radius: 10px;
        margin: 8px;
    }
    .outgoing-spin {
        &--left {
            position: absolute;
            top: 15px;
            left: 15px;
            z-index: 1;
        }
        &--right {
            position: absolute;
            top: 15px;
            right: 15px;
            z-index: 1;
        }
    }
}

.incoming-call {
    margin: 15px;
    position: relative;
    .ant-card {
        background: #f8f9ff;
        &-head-title {
            text-align: center;
        }
        &-body {
            padding: 10px 16px;
        }
    }
    .incoming-img {
        width: 100px;
        height: 100px;
        border-radius: 100%;
    }
    .call-description {
        .call {
            &-cancel {
                font-weight: 300;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &-answer {
                background: #009a00;
                border-color: #5a9e00;
                font-weight: 400;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover {
                    background: #017501;
                    border-color: #017501;
                }
            }
        }

        img {
            width: 24px;
        }
    }

    #incoming-call-video {
        max-width: 224px;
        max-height: 230px;
        background: #606060;
        border-radius: 10px;
        margin: 8px;
    }
    .incoming-spin {
        &--left {
            position: absolute;
            top: 15px;
            left: 15px;
            z-index: 1;
        }
        &--right {
            position: absolute;
            top: 15px;
            right: 15px;
            z-index: 1;
        }
    }
}

.current-call {
    margin: 15px;
    position: relative;
    .ant-card {
        background: #f8f9ff;
        &-head-title {
            text-align: center;
        }
        &-body {
            padding: 10px 16px;
        }
    }
    .current-img {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        object-fit: cover;
    }
    .call-description {
        .call {
            &-cancel {
                font-weight: 300;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        img {
            width: 24px;
        }
    }

    .current-call {
        max-width: 224px;
        max-height: 230px;
        background: #606060;
        border-radius: 10px;
        margin: 8px;
        // &__my-camera {
        // }
        // &__person-camera {
        // }
    }
    .current-spin {
        &--left {
            position: absolute;
            top: 15px;
            left: 15px;
            z-index: 1;
        }
        &--right {
            position: absolute;
            top: 15px;
            right: 15px;
            z-index: 1;
        }
    }
    .call-duration {
        position: absolute;
        top: 60px;
        right: 10px;
        z-index: 1;
        font-size: 15px;
    }
}

.no-calls {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100px;
    font-size: 20px;
}
