.page--chats {
    background: white;
    min-width: 600px;
    max-width: 1600px;
    width: 100%;
    max-height: 80vh;
    border-radius: 5px;
    margin: auto;
    border: 4px solid #5d86e8;

    .chats-header {
        display: flex;

        .header-line {
            width: 300px;
            min-width: 300px;
            border-right: 3px solid #5d86e8;
            height: 100%;
            transition: all 0.2s;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            .search-chats {
                width: 200px;
                border-radius: 10px;
            }
            .search-chat-btn {
            }
        }
        .collapsed {
            width: 80px !important;
            min-width: 80px !important;
            .search-chats {
                visibility: hidden;
                opacity: 0;
            }
        }
        .chat-information {
            width: 100%;
            .video-call {
                font-size: 30px;
            }
        }
    }
    .chats-list {
    }
    .ant-layout-sider-trigger {
        position: absolute;
        border-right: 3px solid #5d86e8;
        border-top: 3px solid #5d86e8;
        background: #90d3ff;
    }
    .ant-layout-sider-children {
        overflow-y: scroll;
        overflow-x: hidden;
        border-right: 3px solid #5d86e8;
    }
    .logo {
        width: 100%;
        height: 64px;
        padding: 0 50px;
        color: rgba(0, 0, 0, 0.65);
        line-height: 64px;
        background: #90d3ff;
    }
    .ant-layout-header {
        display: none;
    }
    .chats-header {
        height: 80px;
        color: rgba(0, 0, 0, 0.65);
        line-height: 64px;
        background: #90d3ff;
        border-bottom: 3px solid #5d86e8;
    }
    .ant-menu-inline-collapsed > .ant-menu-item {
        padding: 0 20px 0 16px;
    }
    .ant-menu-item {
        img {
            height: 30px;
            width: 30px;
            border-radius: 100%;
        }
    }
    .ant-layout-content {
    }

    .chat-content {
        background-image: linear-gradient(rgba(85, 239, 24, 0.42), rgba(80, 31, 105, 0.11)), url("../images/app.png");
        .fit-template {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: bottom;
        }
        .messages-container {
            height: calc(100% - 80px);
        }
        .input-container {
            height: 80px;
            background: #90d3ff;
            border-top: 3px solid #5d86e8;
            display: flex;
            align-items: center;
            .input-message {
                width: 100%;
                .input {
                    border: 3px !important;
                }
            }
        }
        .chat_info {
            height: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 18px;
            font-weight: 600;
            color: #d0ffe6;
            user-select: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }
    }
}
