.to-chats-btn {
    padding: 0px 10px;
    background: #edf7ff;
    span {
        font-weight: 400;
        margin-left: 5px;
    }
    img {
        width: 24px;
    }
}

.video-call-btn {
    font-size: 30px;
    cursor: pointer;
}
