body {
	overflow-x: hidden;
}

.ant-form-item {
	width: 100%;
	margin-bottom: 14px;
	.ant-form-item-extra {
		font-size: 12px;
	}
	.ant-form-item-explain ~ .ant-form-item-extra {
		display: none;
	}
}

.control--cancel {
	color: red !important;
}

.ant-dropdown-link {
	color: black !important;
	&:hover {
		color: #1890ff !important;
	}
}

.message-noty {
	padding: unset;
	.ant-notification-notice-content {
		padding: 5px 4px 5px;
		.ant-notification-notice-with-icon {
			height: 70px;
			.ant-notification-notice {
				&-message {
					margin-left: 70px;
				}
				&-description {
					margin-left: 70px;
				}
			}
			.ant-notification-notice-icon {
				width: 60px;
				margin-top: 5px;
				img {
					width: 100%;
				}
			}
		}
	}
}
