.messages-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .simplebar-content {
        display: flex;
        flex-direction: column;
        padding: 10px !important;
    }
    .message {
        margin: 5px;
        max-width: 70%;
        position: relative;
        &__content {
            min-height: 20px;
            overflow: hidden;
            min-width: 15px;
            img {
                width: 100%;
                height: 100%;
                cursor: pointer;
                transition: transform 0.4s ease;
                &:hover {
                    transform: scale(1.02);
                    transition: transform 0.4s ease;
                }
            }
        }
        &__time {
            position: absolute;
            font-size: 10px;
            bottom: 2px;
            color: #000000;
            font-family: sans-serif;
        }
    }

    .from-me--message {
        background: white;
        border-radius: 5px;
        padding: 6px;
        font-size: 16px;
        font-family: cursive;
        display: flex;
        align-self: flex-end;
        .message__time {
            left: -45px;
        }
    }
    .to-me--message {
        background: white;
        border-radius: 5px;
        padding: 6px;
        font-size: 16px;
        font-family: cursive;
        display: flex;
        align-self: flex-start;
        .message__time {
            right: -45px;
        }
    }

    .from-me--message ~ .from-me--message {
        margin-top: 0px;
    }
    .to-me--message ~ .to-me--message {
        margin-top: 0px;
    }
}
