.show-popup {
    display: block;
    visibility: visible;
    opacity: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7) !important;
    z-index: 10000;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 50%;
    position: relative;
    transition: all 5s ease-in-out;
    text-align: center;
}

.call-modal {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 70%;
    width: 30%;
    z-index: 10;
    background-color: #ffffff;
    box-shadow: 3px 3px 20px 0 #868686;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    -webkit-transform: translateX(110%);
    transform: translateX(110%);
    &--transform {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    &__container {
        .ant-tabs {
            &-nav-list {
                width: 100%;
                .ant-tabs-tab {
                    width: 50%;
                    font-size: 24px;
                    &-btn {
                        text-align: center;
                        width: 100%;
                    }
                }
            }
        }
    }
    .settings {
        margin: 0px 10px;
        .ant-select-selector {
            border-radius: 10px;
        }
        .device-text {
            font-size: 24px;
            color: #969696;
            margin: 5px;
        }
        .device-select {
            font-size: 20px;
            width: 100%;
        }
        .check-speaker {
            margin-top: 10px;
        }
        .ant-divider {
            &-horizontal {
                margin: 20px 0 0px;
            }
        }
        #webcam-local {
            max-width: 360px;
            max-height: 230px;
            background: #606060;
            border-radius: 10px;
            margin: 8px;
        }
    }
}
