.page {
	$this: &;

	flex: auto;
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;

	&--profile {
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		.avatar > img {
			width: 256px;
			height: 256px;
		}
	}

	&__head {
		position: relative;
		display: block;
		padding: 0;
	}

	&__body {
		flex: auto;
		display: flex;
		flex-direction: column;
	}

	&--home {
		display: flex;
		justify-content: center;
		align-items: center;

		.react-logo {
			width: 100%;
			max-width: 200px;

			@media (prefers-reduced-motion: no-preference) {
				animation: react-logo-spin infinite 20s linear;
			}
			margin-bottom: 50px;
		}
	}
}
