@keyframes breathing {
	0% {
		-webkit-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
	}

	25% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}

	60% {
		-webkit-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
	}

	100% {
		-webkit-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
	}
}
.page {
	$this: &;

	flex: auto;
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;

	&--profile {
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		.avatar > img {
			width: 256px;
			height: 256px;
			object-fit: cover;
		}
		.status {
			position: relative;
			&-online {
				&__icon {
					background: #3cbb00;
				}
			}
			&-offline {
				&__icon {
					width: 12px;
					height: 12px;
					background: #acacac;
					top: 1px;
				}
			}
			&__text {
				font-size: 16px;
				font-weight: 600;
			}
			&__icon {
				width: 15px;
				height: 15px;
				border-radius: 100%;
				position: absolute;
				top: 0;
				right: -20px;
			}
		}
	}

	&__head {
		position: relative;
		display: block;
		padding: 0;
	}

	&__body {
		flex: auto;
		display: flex;
		flex-direction: column;
	}

	&--home {
		display: flex;
		justify-content: center;
		align-items: center;

		.react-logo {
			width: 100%;
			max-width: 200px;

			@media (prefers-reduced-motion: no-preference) {
				animation: react-logo-spin infinite 20s linear;
			}
			margin-bottom: 50px;
		}
		.breathing {
			-webkit-animation: breathing 3s ease-out infinite normal;
			animation: breathing 3s ease-out infinite normal;
			-webkit-font-smoothing: antialiased;
		}

		.ant-tag {
			cursor: pointer;
			&:hover {
				transform: scale(1.1);
			}
		}
	}
}
